*{
    font-family: 'Product Sans';
}
#top{
    margin-top: 20px;
    text-align: center;
}
#para{
    margin-top: 20px;
    padding: 20px;
}

#kpoint #hd{
    text-align: center;
}
#parts{
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
}
#kpoint #pricing{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
#clr{
    color: #712df8;
}

  #top{
    margin: 10px;
    background-color: #2b3169;
    padding: 100px;
    color: white;
  }
  #top p{
    font-size: 50px;
  }
  
@media (max-width: 1000px) {
  #nav{
    padding: 0px 4vmin;
    display: flex;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    
  }
  #leftnav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.5vmin;
    /* color: #1f1f22; */
    
  }
  #leftnav img{
    margin-top: 3.125vmin;
    width: 12vmin;
  }
  

  #gayab{
    display: none;
  }
  
  #dropdown{
    padding: 1vmin;
  }
  .dropdown-menu{
    font-size: 2.5vmin;
  }
  #top{
    margin: 10px;
    background-color: #2b3169;
    padding: 50px;
    color: white;
  }
  #top p{
    font-size: 25px;
  }
  #kpoint #hd{
    text-align: center;
  }
  #parts{
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
  #kpoint #pricing{
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }

}